@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*-------------------------------------- VARIABLES  --------------------------------------*/

/*-------------------------------------- GLOBAL  --------------------------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(12, 15, 24);
  font: 1rem;
  font-family: "Fira Sans", sans-serif;
  color: rgb(254, 254, 255);
}

button {
  background: none;
  border: none;
}

/*-------------------------------------- HEADER COMPONENT  --------------------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 8%;
  margin-bottom: 1.5%;
}

.header h1 {
  font-size: 3rem;
}

.header div {
  display: flex;
  align-items: center;
}

.header-logout-container {
  display: flex;
  flex-direction: column;
}

.header-logout-button {
  margin-top: 0.3rem;
  display: flex;
}

.header-logout-button p {
  display: inline;
}

.header-logout-button:hover {
  transform: translateY(-3px);
  transition: 0.3s;
  cursor: pointer;
}

/*------------------- LOGIN AND REGISTRATION COMPONENTS  ---------------------*/

.login-form-section,
.register-form-section {
  max-width: 40vw;
  margin: 10% auto 0 auto;
  padding: 3%;
  text-align: center;
  box-shadow: 0 0 8px #888888;
}

.login-form-heading-container,
.register-form-heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 3% auto;
  font-size: 2em;
}

.login-form-section input,
.register-form-section input {
  display: block;
  background-color: rgb(76, 82, 104);
  border: 0.5px solid #3c4fe0;
  width: 100%;
  height: 1.8rem;
  margin: 5% 0;
}

.login-form-section form,
.register-form-section form {
  margin-bottom: 3%;
}

.login-form-button-container,
.register-form-button-container {
  display: flex;
  justify-content: space-evenly;
}

.login-and-register-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
  height: 28px;
  padding-left: 20px;
  padding-right: 20px;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: box-shadow, transform;
}

.login-and-register-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.login-and-register-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.login-and-register-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/*-------------------------------------- DASHBOARD COMPONENT (PAGE)  --------------------------------------*/

.dashboard-grid-container {
  display: grid;
  padding: 1%;
}

.dashboard-grid-item-1 {
}

.dashboard-grid-item-2 {
}

.dashboard-grid-item-3 {
}

/*-------------------------------------- PROJECT FORM  --------------------------------------*/

.project-form-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px #888888;
  width: max-content;
  padding: 1%;
}

.project-form-container button {
  background-color: #2801d2;
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.project-form-container button:hover {
  transform: translateY(-3px);
}

/*-------------------------------------- PROJECT CARD COMPONENT --------------------------------------*/

.project-container {
  max-width: 40vw;
  padding: 1%;
  margin: 1% auto;
}

.project-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0;
  padding: 1%;
}

.project-card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}

/*-------------------------------------- TASK FORM COMPONENT --------------------------------------*/

.task-form {
  display: flex;
  flex-direction: column;
  transform: 0.3s;
}

.task-form input,
textarea {
  border: none;
  border-bottom: 1px solid rgb(34, 2, 215);
  background-color: transparent;
  margin: 1%;
  color: white;
}

.isFavoriteTask {
  display: flex;
}

/*-------------------------------------- TASK CARD COMPONENT --------------------------------------*/

.task-section-button {
  background-color: #222222; /* Dark gray */
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.3s;
}

.task-section-button:hover {
  transform: translateY(-3px);
}

/*-------------------------------------- SPINNER --------------------------------------*/
.loadingSpinner {
  max-width: max-content;
  margin: 30vh auto 0 auto;
}
